
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Breast cancer prediction system</title>
  <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Responsive Regisration Form </title> 
</head>

  <style>
form{
   background-color: blueviolet;
   margin: auto;
   width: 40%;
   padding: 10px;
   
}
input{
    padding: 7px;
    margin: 10px;
    /* margin-left
    : 20%; */
    display: block;
    align-items: center;
    border-radius: 10px;

}
button{
    display: block;
    align-items: center;
    /* margin-left: 20%; */
    border: none;
    padding: 10px;
    background-color: rgb(0, 128, 111);
    color: white;
}
.boxes{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    align-items: center;
}
  </style>

</head>

<body>

 <div class="login">
	
    <!-- Get input for predict the cancer -->
    <left>
    <form action="{{ url_for('predict')}}"method="post">
        <div class="boxes">
    	<input type="text" name="radius_mean" placeholder="mean radius" required/>
        <input type="text" name="texture_mean" placeholder="mean texture" required/>
		<input type="text" name="perimeter_mean" placeholder="mean perimeter" required/>
		<input type="text" name="area_mean" placeholder="mean area" required/>
        <input type="text" name="smoothness_mean" placeholder="mean smoothness" required/>
		<input type="text" name="compactness_mean" placeholder="mean compactness" required/>
		<!-- <br> -->
    	<input type="text" name="concavity_mean" placeholder="mean concavity" required/>
        <input type="text" name="concave points_mean" placeholder="mean concave points" required/>
		<input type="text" name="symmetry_mean" placeholder="mean symmetry" required/>
    	<input type="text" name="fractal_dimension_mean" placeholder="mean fractal dimension" required/>
        <input type="text" name="radius_se" placeholder="radius error" required/>
		<input type="text" name="texture_se" placeholder="texture error" required/>
		<!-- <br> -->
    	<input type="text" name="perimeter_se" placeholder="perimeter error" required/>
        <input type="text" name="area_se" placeholder="area error" required/>
		<input type="text" name="smoothness_se" placeholder="smoothness error" required/>
    	<input type="text" name="compactness_se" placeholder="compactness error" required="required" />
        <input type="text" name="concavity_se" placeholder="concavity error" required/>
		<input type="text" name="concave points_se" placeholder="concave points error" required/>
    	<!-- <br> -->
    	<input type="text" name="symmetry_se" placeholder="symmetry error" required/>
        <input type="text" name="fractal_dimension_se" placeholder="fractal dimension error" required/>
		<input type="text" name="radius_worst" placeholder="worst radius" required/>
    	<input type="text" name="texture_worst" placeholder="worst texture" required/>
        <input type="text" name="perimeter_worst" placeholder="worst perimeter" required/>
		<input type="text" name="area_worst" placeholder="worst area" required/>
		<!-- <br> -->
    	<input type="text" name="smoothness_worst" placeholder="worst smoothness" required/>
        <input type="text" name="compactness_worst" placeholder="worst compactness" required />
		<input type="text" name="concavity_worst" placeholder="worst concavity" required/>
    	<input type="text" name="concave points_worst" placeholder="worst concave points" required/>
        <input type="text" name="symmetry_worst" placeholder="worst symmetry" required/>
		<input type="text" name="fractal_dimension_worst" placeholder="worst fractal dimension" required/>
        <!-- <br>
        <br> -->
        <!-- Show button -->
        <div class="button_cont" align="left">
            <button type="submit" class="btn btn-primary btn-block btn-large"><strong>Predict</strong></button></a>
        </div>
        
    </form>
</div>
</left>
   
   <!-- Show predicted output using ML model --> 
   <div>
       <left>
   <h1>{{prediction_text}}</h1>
       </left>
   </div>

 </div>

<!-- Code injected by live-server -->
<script>
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>
